{% extends "AcmeHelloBundle:blog:base.html.twig" %}
	
	{%block body%}
	{% include 'AcmeHelloBundle:blog:menu.html.twig'%}
	<center>
			<table class="table table-hover table-bordered" >
				<thead>
					<tr>
						<th>ID</th>
						<th>Titulo</th>
						<th>Contenido</th>
						<th>Eliminar</th>
					</tr>
				</thead>
					<tbody>
						{%for b in lista %}
							<tr>
								<td>
							<a href="/findid/{{b.id}}">{{b.id}}</a>
						</td>
						<td>
							{{b.titulo}}
						</td>
						<td>
							{{b.cuerpo}}
						</td>
						<td>
						<a type="button" class="btn btn-danger"href="/delete/{{b.id}}">Eliminar</a>
						</td>
					</tr>
					{%endfor%}
				</tbody>
			</table>

	</center>
	<br><br>
	{%endblock%}